/* Main Header */
body {
    overflow: hidden;
}

.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 312px;
    margin-top: 12px;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--color-black-two);
}

.header-navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

:is(.arrow-left svg, .arrow-right svg) {
    width: 16px;
    height: 16px;
    fill: var(--color-gray);
    opacity: 1;
}

:is(.arrow-left, .arrow-right) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-color);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: not-allowed;
    opacity: 0.6;
}

.header-login {
    display: flex;
    align-items: center;
}

.header-search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--color-black-three);
    border-radius: 500px;
    border: 1px solid transparent;
}

.header-search img {
    width: 16px;
    height: 16px;
    margin-left: 20px;
}

.header-search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: var(--color-white);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header-login .subscribe {
    color: var(--color-gray-three);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    transition: 0.4s ease-in-out;
}

.header-login .subscribe:hover {
    color: var(--color-white);
}

.header-login .login {
    width: 100px;
    height: 48px;
    color: var(--color-black);
    background-color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
}

.header-login .login:hover {
    transform: scale(1.05);
}