/* Geral */
body {
    background-color: var(--color-black);
    font-family: var(--font-dm-sans);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    height: 30px;
}

svg {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar-navigation {
    background-color: var(--color-black-two);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    background: var(--color-black-two);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar-navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-gray);
    fill: var(--color-gray);
    gap: 12px;
    transition: 0.4s;
}

.sidebar nav ul li a:hover {
    color: var(--color-white);
    fill: var(--color-white);
}

/* Library */
.library {
    background-color: var(--color-black-two);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--color-gray);
    fill: var(--color-gray);
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library-content {
    display: flex;
    justify-content: space-between;
}

.library .library-content .library-button {
    display: flex;
    margin-right: 10px;
    padding: 20px 10px;
    align-items: center;
    color: var(--color-gray);
    fill: var(--color-gray);
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: 0.4s;
}

.library .library-content .library-button:hover {
    color: var(--color-white);
    fill: var(--color-white);
}

.library-button .lb-icon {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    padding-right: 8px;
}

.library .library-content .plus-icon {
    fill: var(--color-gray);
    margin: 24px 10px;
    transition: 0.4s;
    cursor: pointer;
}

.library .library-content .plus-icon:hover {
    fill: var(--color-white);
}

/* Scroll */
.sections {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 50px;
    overflow: auto;
    padding: 0 5px 0 5px;
}

.sections::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.sections:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

/* Sections: Playlist and Podcast */
:is(.section-playlist, .section-podcast) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--color-black-three);
    color: var(--color-gray);
    font-size: 14px;
    font-weight: 600;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.section-podcast {
    margin-top: 10px;
}

:is(.section-playlist .section-playlist-content, .section-podcast .section-podcast-content) {
    display: flex;
    flex-direction: column;
}

:is(.section-playlist-content .text, .section-podcast-content .text) {
    padding-bottom: 14px;
    color: var(--color-white);
}

:is(.section-playlist-content .title, .section-podcast-content .title) {
    font-weight: 700;
}

:is(.section-playlist-content .subtitle, .section-podcast-content .subtitle) {
    font-weight: 500;
    font-size: 12px;
}

:is(.section-playlist-content .section-playlist-button, .section-podcast-content .section-podcast-button) {
    display: flex;
    justify-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
}

.section-playlist-content .section-playlist-button {
    width: 113px;
}

.section-podcast-content .section-podcast-button {
    width: 150px;
}

/* Links */
.sidebar .links, .sidebar .languages {
    background-color: var(--color-black-two);
    margin: 25px 25px 7px 20px;
}

.sidebar .links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.sidebar .links a {
    font-size: 10px;
    color: var(--color-gray);
    text-decoration: none;
}

.link-cookies {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar .links .ypc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sidebar .links .ypc svg {
    max-width: 20px;
    max-height: 20px;
}

.sidebar .links .link-main a {
    font-size: 12px;
    transition: 0.4s ease;
}

.sidebar .links .link-main a:hover {
    text-decoration: underline;
}

/* Languages */
.sidebar .languages .languages-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: 1px solid var(--color-gray-two);
    color: var(--color-white);
    fill: var(--color-white);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 170px;
    margin: 5px; 
    padding: 5px;
    border-radius: 20px;
    transition: 0.4s ease;
}

.sidebar .languages .languages-button:hover {
    border: 1px solid var(--color-white);
}

.languages .languages-button svg {
    width: 15px;
    height: 15px;
}

/* Main */

/* Footer */
.disclaimer-premium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(90deg, var(--color-purple), var(--color-blue));
    padding: 15px 24px 7px 15px;
    margin: 10px;
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium-title {
    color: var(--color-white);
    font-weight: bolder;
    font-size: 14px;
    margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium-subtitle {
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 16px;
    font-weight: 700;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}