body {
    background-color: #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 320px;
}

.sidebar-navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar-navigation .logo img {
    width: 100px;
}

.sidebar nav ul {
    margin-top: 15px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    font-family: "DM-sans", sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar nav ul li a svg {
    width: 24px;
    height: 24px;
    fill: #b3b3b3;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.library-content {
    display: flex;
    justify-content: space-between;
}

svg {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

.library .library-content .library-button {
    display: flex;
    margin-right: 10px;
    padding: 20px 10px;
    align-items: center;
    color: #b3b3b3;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.library-button .lb-icon {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library-content .plus-icon {
    padding-top: 5px;
    margin: 24px 10px;
}